/* REGOLE GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}


/* HEADER */
header {
    width: 100%;
    height: 60px;
    background-color: #0084fd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

header .container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tabletnav {
    display: none;
}

    /* versione desktop */
    @media screen and (min-width:1024px) {
        #tabletnav {
            display: block;
        }

        #mobilenav {
            display: none;
        }
    }


/* MAIN GENERAL STYLE */
section {
    padding-top: 40px;
}

.card {
    margin-bottom: 20px;
}

/* DEVELOPER SECTION */
#devsection .container {
    margin-top: 60px;
}

#devsection .card {
    background-color: #b5ddff;
    border-radius: 20px;
}


    /* versione tablet */
    @media screen and (min-width:768px) {
        #devsection .container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
        }

        #devsection .card {
            width: calc((100% / 3) - 20px);
        }
        
        #devsection .card.big {
            width: calc((100% / 3 * 2) - 10px);
        }
    }


/* PLANNING SECTION */


    /* versione desktop */
    @media screen and (min-width:1024px) {
        #planningsection .container {
            display: flex;
            justify-content: center;
            gap: 30px;
        }

        #planningsection .card {
            width: 40%;
        }
    }


/* TESTIMONIALS SECTION */
.title, .text {
    text-align: center;
    margin-bottom: 30px;
}

.testimonial {
    background-color: #9792e4;
    border-radius: 15px;
    margin-bottom: 20px;
}



/* BENEFICT SECTION */
h2 {
    margin-bottom: 30px;
    text-align: center;
}

    /* versione tablet */
    @media screen and (min-width:768px) {
        #benefitsec .row{
            display: flex;
            flex-wrap: wrap;
            gap: 0 20px;
        }

        #benefitsec .card {
            width: calc(50% - 10px);
        }
    }

    /* versione tablet */
    @media screen and (min-width:1024px) {
        #benefitsec .row{
            justify-content:space-between ;
        }

        #benefitsec .card {
            width: calc((100% / 3) - 15px);
        }
    }


/* ABOUT US SECTION */

    /* versione tablet */
    @media screen and (min-width:768px) {
        #aboutus .container {
            display: flex;
            justify-content: space-around;
        }

        .left.card {
            width: 50%;
        }

        .right.card {
            width: 40%;
        }
    }

    /* versione tablet */
    @media screen and (min-width:1024px) {
        .left.card {
            width: 60%;
        }

        .right.card {
            width: 30%;
        }
    }


/* GET STARTED SECTION */
#getstart {
    text-align: center;
}

    /* versione tablet */
    @media screen and (min-width:768px) {
        #getstart .container {
            width: 80%;
        }
    }

    /* versione desktop */
    @media screen and (min-width:1024px) {
        #getstart .container {
            width: 45%;
        }
    }

/* VERSIONE DESKTOP GENERALI */
@media screen and (min-width:1024px) {
    .container {
        width: 70%;
    }

}



/*  DEBUG */
.container {
    background-color: rgba(0, 0, 0, .3);
    min-height: 20px;
}

#logo {
    width: 50px;
    height: 30px;
    background-color: #ffa500;
}

#mobilenav {
    width: 30px;
    height: 30px;
    background-color:brown;
}

#tabletnav {
    width: 100px;
    height: 30px;
    background-color: red;
}

.card {
    min-height: 250px;
    background-color: blueviolet;
    border: 1px solid white;
}

.testimonial {
    min-height: 100px;
}

